# Backend
backend/node_modules/
backend/.env
backend/package-lock.json

# Node modules
node_modules/

# Build output
dist/
apps/*/dist/

# NX cache
.nx/cache
.nx/workspace-data
tmp/

# pnpm
pnpm-debug.log

# Environment files
.env
.env.local
.env.*.local

# Editor
.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db
